<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-action="Index">Fudou</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Post" class="nav-link">Home</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Category">Category</a>
                    </li>
                }
            </ul>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="ms-auto me-5">
                    <a asp-controller="Auth" asp-action="SignOut" class="btn btn-outline-light">Sign Out</a>
                </div>
            }
            else
            {
                <div class="d-flex ms-auto gap-2 me-5">
                    <a asp-controller="Auth" asp-action="SignIn" class="btn btn-outline-light">Sign In</a>
                    <a asp-controller="Auth" asp-action="SignUp" class="btn btn-outline-light">Sign Up</a>
                </div>
            }

        </div>
    </div>
</nav>