
@model Category

@{
    ViewData["Title"] = "Add New Category";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
     <div class="validation-summary">
            <div asp-validation-summary="All" class="text-danger"></div>
     </div>
    <div class="form-group">
        <label asp-for ="Name"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for = "Name" class="text-danger"></span>
    </div>
      <div class="form-group">
        <label asp-for ="Description"></label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for = "Description" class="text-danger"></span>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Add Category</button>
      <a asp-action="Index" asp-controller ="Category" class="btn btn-secondary mt-2">Back</a>
</form>