@model Category

@{
    ViewData["Title"] = "Edit Category";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <div class="validation-summary">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <input asp-for = "Id" hidden>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control">
        <span asp-validation-for="Description"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-1">Update</button>
    <a asp-controller="Category" asp-action="Index" class="btn btn-secondary mt-1">Back</a>

</form>
